<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) 이벤트를 감지하면 현재값을 인자로 전달하면서 add() 함수를 실행하고, 입력 필드를 비움. -->
  <button (click)="add(heroName.value); heroName.value=''"> <!-- input value를 인자로 넣음.-->
    add
  </button>
</div>

  
<div class="container" style="margin-top: 70px;">
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes"routerLink="/detail/{{hero.id}}" >
        <td>{{ hero.id }}</td>
        <td> {{ hero.name }}</td>
        <td></td>
        <td></td>
        <td><button class="delete" title="delete hero"
          (click)="delete(hero)">delete</button></td>
      </tr>
    </tbody>
  </table>

</div>